* {
    border: 1px solid red;
}

.topNavBar {
  
    background-color: #1e1719;
    overflow: hidden;
    height: 10vh;
    padding-right: 30px;
    padding-top: 30px; 
}

.topNavBar a {
    float:right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration:dotted;
    font-size: 16px;
  }
.topNavBar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
.topNavBar a.active {
    background-color: #cec0ad;
    color: white;
  }

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  color: white; 
  height: 66vh; /* Takes up 70% of the viewport height */
  width: 100%;
}

.myname {
  text-align:center;
  font-size: 40px;
  color: #1e1719;
}

#portfolioSection {
  background-color: #1e1719;
  text-align:center;
  color: #cec0ad;
}